<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0E76B276-650F-4196-B66F-58BCA1D98642</string>
				<key>WFDateActionMode</key>
				<string>Current Date</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5CE1F3F1-D3D1-4E26-95F0-3B3408761E7B</string>
				<key>WFDateFormat</key>
				<string>yyyy-MM-dd-HHmmss-SSS</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Date</string>
								<key>OutputUUID</key>
								<string>0E76B276-650F-4196-B66F-58BCA1D98642</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>\uFFFC</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFTimeFormatStyle</key>
				<string>None</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setitemname</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FC381465-C906-45B2-A6B5-4E7BFB4673B1</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFName</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{21, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted Date</string>
								<key>OutputUUID</key>
								<string>5CE1F3F1-D3D1-4E26-95F0-3B3408761E7B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Thundertonk practice ￼.m4a</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.save</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3CC0DAAF-CEE0-4E7C-B67C-E0202A6568B5</string>
				<key>WFAskWhereToSave</key>
				<false/>
				<key>WFFileDestinationPath</key>
				<string>iCloudIdeas/In/</string>
				<key>WFFolder</key>
				<dict>
					<key>displayName</key>
					<string>iCloud Drive</string>
					<key>fileLocation</key>
					<dict>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.MobileDocumentsFileProvider</string>
						<key>relativeSubpath</key>
						<string>com~apple~CloudDocs</string>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
					</dict>
					<key>filename</key>
					<string>iCloud Drive</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Renamed Item</string>
						<key>OutputUUID</key>
						<string>FC381465-C906-45B2-A6B5-4E7BFB4673B1</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSaveFileOverwrite</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.notification</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFNotificationActionBody</key>
				<string>Recording uploaded to Arcadia’s iCloud inbox.</string>
				<key>WFNotificationActionTitle</key>
				<string>Thundertonk</string>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4407</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59511</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>463140863</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ActionIndex</key>
			<integer>3</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<dict>
				<key>displayName</key>
				<string>iCloud Drive</string>
				<key>fileLocation</key>
				<dict>
					<key>fileProviderDomainID</key>
					<string>com.apple.CloudDocs.MobileDocumentsFileProvider</string>
					<key>relativeSubpath</key>
					<string>com~apple~CloudDocs</string>
					<key>WFFileLocationType</key>
					<string>iCloud</string>
				</dict>
				<key>filename</key>
				<string>iCloud Drive</string>
			</dict>
			<key>ParameterKey</key>
			<string>WFFolder</string>
			<key>Text</key>
			<string>Select the ArcadiaIngress folder in iCloud Drive. This is a one-time setup.</string>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAVAssetContentItem</string>
		<string>WFGenericFileContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>0</integer>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>ActionExtension</string>
	</array>
</dict>
</plist>
